
@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    scroll-behavior: smooth;
    background-color: #eeebe5;
    line-height: 1.1;
    letter-spacing: 0.031em;
    font-style: normal;
    font-weight: 400;
    max-width: 1920px;
}

body {
    /*padding-right: 30px;*/
    /*padding-left: 30px;*/
}